<section class="section" id="head">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">   
            <h1 class="title">Stacks 'n Stacks</h1>
            <br>
            <h2 class="subtitle">A Literary Odyssey</h2>
          
            <button type="button" class="btn btn-default btn-lg" data-type="remote" id="read">Start Reading</button>
            <hr>
          <%= render 'layouts/modal' %>
          </div> <!-- /col -->
        </div> <!-- /row -->
    </div>
</section>

<%= render 'layouts/liked' %>

<%= render 'layouts/about' %>

<%= render 'layouts/register' %>

<%= render 'layouts/login' %>