<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
  <meta name="viewport"    content="width=device-width, initial-scale=1.0">

  <script type="text/javascript">
    google.load("books", "0");
  </script>

  <title>Stacks 'n Stacks</title>

  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

</head>
<body class="theme=invert">
<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#head" class="active">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#liked">Liked Books</a></li>
                <li><a href="#register">Register</a></li>
                <% if logged_in? %>
                  <li><a href="#logout">Logout</a></li>
                <% else %>
                  <li><a href="#login">Login</a></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

<!-- Main section -->

<%= yield %>
       
<!-- Load js libs only when the page is loaded. -->
<!-- Custom template scripts -->

</body>
</html>